{
    //"num_of_games": "1",
    "num_of_games": "100000",
    "player_x": "QLearning",
    "player_o": "QLearning",
    "save_game_mode": "off",
    //"save_data_path": "C:\\Project\\Just-Tictactoe\\Just-Tictactoe\\",
    "save_data_path": "S:\\data\\Just-Tictactoe\\",
    "save_batch_size": "100000"
}
